.NoteTaker{
    text-align: center;
    padding-top: 5%;
}


.classop1{
       display: inline-flex !important;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    opacity:0;
    height: 50px;
    width:30%;
    font-size: 100%;
    border-width: 2px 2px 0px 2px !important;
  }
  .classop2{
       display: inline-flex !important;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    opacity: 1;
    height: 50px;
    width:30%;
    font-size: 100%;
    border-width: 2px 2px 0px 2px !important;
  }

